.kepek {
    display: flex;
    flex-direction: row;
}

img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.nyilak {
    height: 20%;
    width: 3%;
}
#nyil2 {
    transform: rotate(180deg);
}

/**/


#keret {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    height: 1000px;
    width: 1000px;
}

.kep {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}