body {
    width: 10%;
}

#b325, .b326{
    font-weight: bold;
    border: 1px solid green;
}

/*.b326 {
    border: 1px solid green;
}

#b325 {
    border: 1px solid green;
}*/
p {
    background-color: yellow;
}
.big{
    color: blue;
    font-weight: bold;
}